body {
    background-color: #eee;
}

header{
    background-color: #49516f;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1{
    margin: 0px 0px 0px 0px;
    color: white;
}

header span{
    margin: 0px 0px 0px 0px;
    color: white;
}

.logo{
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    height: 100px;
    width: 100px;
    border: 5px solid white;
}

.posts{
    display: flex;
    flex-wrap: wrap;
}

.post{
    flex-grow: auto;
}

.post-body{
    height: 200px;
}

.post-container{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-pic{
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

@media screen and (min-width: 999px) 
{
    .posts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .post{
        max-width: 800px;
        flex-grow: auto;
        width: 100%;
    }
    .post-container{
        width: 100%;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 400px) and 
    (max-width: 998px)
{
    header{
        justify-content: center;
    }

    .posts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .post-container{
        display: flex;
        flex-direction: column;
    }

    .post{
        flex: 50%;
    }

    .post-pic{
        display: flex;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 399px)
{
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .logo{
        border-radius: 50%;
    }

    .posts{
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    .post-container{
        display: flex;
        flex-direction: column;
    }

    .post-pic{
        width: 100%;
        height: auto;
    }
}